/* Home */

.container {
    max-width: 960px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 60px auto;
}

.content {
    padding-right: 30px;
}

.sidebar {
    padding-left: 30px;
}

.sidebar form {
    padding: 20px;
    background: rgb(199, 28, 99);
    border-radius: 10px;
}

.sidebar input, .sidebar select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    box-sizing: border-box;
    border-radius: 4%;
    border: 0;
    color: #555;
    font-size: 1em;
}

.sidebar label {
    margin: 0 auto 20px;
    display: block;
    color: #fff;
}

.sidebar button {
    padding: 6px 12px;
    border: 2px solid #fff;
    width: 100%;
    background-color: transparent;
    color: #fff;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.sidebar h3 {
    color: rgb(199, 28, 99);
    margin-bottom: 20px;
}

.sidebar aside {
    margin-top: 40px;
    color: #555;
}

.sidebar asideli {
    margin: 10px;
}

.screenshots li {
    margin: 30px auto;
    border: 1px solid #f2f2f2;
    box-shadow: 3px 3px 5px rgba(50,50,50,0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-left: 4px solid rgb(199, 28, 99);
}

.screenshots .name {
    text-decoration: none;
    color: #777;
    font-size: 1.4em;
}

.screenshots button {
    position: absolute;
    top: 0;
    right: 0;
    background: #ddd;
    color: #777;
    border: none;
    padding: 12px 8px;
    text-align: center;
    line-height: 0;
    font-size: 0.9em;
    cursor: pointer;
}
