/* Navbar */

.navbar {
    width: 100%;
    background: rgb(241, 208, 222);
    padding: 20px 10px;
    box-sizing: border-box;
}

.navbar ul {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
}

.title {
    margin-right: auto;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.2em;
}

.navbar .btn, .navbar a {
    margin-left: 16px;
}

.navbar a {
    text-decoration: none;
    color: rgb(199, 28, 99);
}

.none {
    display: none;
}