@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #F1F6F9;
}

.container {
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

input {
    width: 60%;
    padding: 25px;
    margin: 8px 0;
    font-size: 20px;
    color: #394867;
    border: none;
    box-sizing: border-box;
    box-shadow: 1px 5px 5px 1px lightgray;
    border-radius: 4px;
}

button {
    background-color: #0E8388;
    border: none;
    color: white;
    margin: 30px;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color: #212A3E;
}

ul {
    list-style: none;
    display: grid;
    margin-top: 20px;
    margin-left: -40px;
}

li {
    width: 60%;
    padding: 15px;
    margin: 15px auto;
    font-size: 20px;
    box-shadow: 1px 5px 5px 1px lightgray;
    border-radius: 4px;
}


img {
    width: 100%;
}
