body {
    background: #7F8487;
}

.container {
    max-width: 50%;
    margin: 100px auto;
    background-color: #FFF;
}

.heading {
    background: linear-gradient(90deg, #FD7B46, #FE4E9B);
    padding: 30px 20px;
    color: #FFF;
    font-size: 15px;
}
.total {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}
.heading > div:nth-child(2) {
    border-bottom: 1px solid #FFF;
}
.heading > div:nth-child(3) {
    font-weight: bold;
}

.cards, .information {
    padding: 20px 20px;
    text-align: center;
}
h2 {
    padding-bottom: 20px;
}
.mode {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    color: #7F8487;
}
.mode img {
    width: 30px;
    padding-top: 20px;
}
.visa img {
    width: 150px;
}

.details {
    display: flex;
    justify-content: space-between;
    color: #7F8487;
}
.details input {
    width: 100%;
    margin-top: 20px;
    height: 30px;
    background-color: #D8D8D8;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #7F8487;
}
.number {
    width: 40%;
}
.date {
    width: 20%;
}
.code {
    width: 30%;
}

button {
    border: none;
    background: linear-gradient(90deg, #FD7B46, #FE4E9B);
    width: 300px;
    margin: 40px 0 20px 0;
    padding: 20px 0;
    border-radius: 50px;
    color: #FFF;
    font-size: 18px;
}
.submit a {
    text-decoration: none;
}
h3 {
    font-size: 15px;
    background: linear-gradient(90deg, #FD7B46, #FE4E9B);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: transparent;
}

.mode input[type="radio"] {
    display: none;
}
.mode label {
    box-shadow: 5px 5px 15px;
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
}
.mode input[type="radio"]:checked + label {
    border: 3px solid #FE4E9B;
}

@media screen and (max-width: 600px) {
    button {
        width: 80%;
    }
    .details {
        flex-wrap: wrap;
        font-size: 13px;
    }
    .number {
        width: 100%;
        margin-bottom: 20px;
    }
    .date, .code {
        width: 45%;
    }
    .mode {
        font-size: 12px;
    }
    .mode img {
        width: 30%;
    }
}